<%- include('./layout') %>

<div class="wrapper">
    <div class="article-list">
        <% for(let i=0;i<data.length;i++){%>
            <div class="list-group article-item">
                <a href="/article/detail/<%=data[i].id%>" class="list-group-item">
                    <h4 class="list-group-item-heading"><%=data[i].title%></h4>
                    <p class="list-group-item-text content"><%=data[i].content%></p>
                </a>
            </div>
        <%}%>
    </div>
</div>
<!-- <button>新增</button>

<script>
    $('button').bind('click',data=>{
        $.post('/article/addNews',data=>{
            console.log(data);
        })
    })
</script> -->
