<%- include('./layout') %>

<div class="wrapper">
    <div class="article-list">
        <% for(let i=0;i<data.length;i++){%>
            <div class="list-group article-item">
                <a href="/article/detail/<%=data[i].id%>" class="list-group-item">
                    <h4 class="list-group-item-heading"><%=data[i].title%></h4>
                    <p class="list-group-item-text"><%=data[i].id%></p>
                </a>
            </div>
        <%}%>
    </div>
</div>
