body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}

a {
  color: #00B7FF;
  text-decoration: none;
}



/*layout的样式*/
.header .bg-img{
  background-image: url('../../public/images/bg.jpg');
  background-position: 40% 60%;
  height:120px;
}

.header-list {
  font-size:0;
}
.header-list a{
  display: inline-block;
  width:25%;
  height:48px;
  line-height: 48px;
  background:#333;
  font-size:16px;
  text-align: center;
  color:#f2f2f2;
}
.header-list a:hover{
  text-decoration: none;
  color:#337ab7;
}

/*文章页面*/
.wrapper{
  max-width:1280px;
  margin:0 auto;
}
.article-list{
  /* padding-top:10px; */
}
.article-item h4{
  /* margin: .5rem 0 .8rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #2e3135;
}

.article-item p{
  width:100%;
  /* margin:5px 0;  */
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

/*文章详情页*/
.article-detail .title{
  text-align: center;
}
.article-detail .content{
  text-indent:35px;
  /* padding:10px 0 20px 0; */
}



